body{

	margin: 0;
	background-size: cover;
	background-repeat:no-repeat;
	background-image: url("../public/img/backgraund.png");
	
}
section{
	vertical-align: middle;
}	

a {
	text-decoration: none;
}
	
img {
  max-width: 100%;
  max-height: 100%;

  object-fit: contain; /* Теперь пропорции не нарушаются */
}	
.nav_1{
	background-color: #213f625c;
	
	display:grid;
}
.nav_2{
	/*background-image: url(../img/nav.png);*/
	padding-left: 10px;
	width: 100%;
	}
.contener_flex{
	
	display: flex;
	
/* Кнопка выпадающего списка */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content_2 {
  display: none;
 
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {background-color: #ddd;}

/* Показать выпадающее меню при наведении курсора */
.dropdown:hover .dropdown-content {display: flex;} 


/* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
		
}
.reg{
	float: right;
    padding-right: 1%;
    width: 100%;
    background-color: #232e49;
}
.reg_a{
	margin-bottom: 4px;
    margin-top: 4px;
    text-decoration: none;
	float: right;
    padding-right: 14%;
    color: #ffffff;
}
.reg_a p{

    color: #f5d60d;
} 
.reg_btn{

	float: right;
	background-color: #f5d60d;
	border-radius: 6px;
	margin-bottom: 0.5%;
  margin-top: 0.5%;
	padding: 5px 5% 5px 5px;

}
.search_btn{
	background-color: #f5d60d;
	border-radius: 6px;
	padding: 1px 10px 1px 10px;
}

.img_icon{
	padding-right: 4%;
    padding-left: 25%;
    padding-top: 2%;
    padding-bottom: 2%;

}
.img_icon a:hover{
	background: #b2b3b5;
	
}

.nav_search{
	width: 90%;
	background-color: #d1bb3396;
	border-radius: 5px;
}
::placeholder {
  color: #d9e1e0a3;

  font-size: 1em;
}
.nav_text{
	padding-right: 1%;
    color: #b39e1c;
    text-decoration: none;

}
.nav_text_cont{
	padding-top: 4%;

}
.nav_h2{
	color: #b39e1c;
}
.nav_1_a{
	color: #b39e1c;
	padding-left: 2%;
	text-decoration: none;
	display: table;
}
.cs-select {
	width: 100%;
    background-color: #d1bb3300;
    color: #b39e1c;
}
.auto_box{
	
	padding-right: 2vh;
	display: flex;
	flex-flow: row wrap;
  
  	justify-content: center;
	
}
.content_auto{
	padding: 1%;
	margin-left: 2%;
    margin-top: 2%;
	background-image: url("../public/img/rectangle.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	color: e9eaea;
		
  	
}
.foter{
	height: 100vh;
	
}

.exit{
	margin: 2vh 0 0 2vh;
}

.login{
	display: flex;
	justify-content: center;
	align-items: center;
	


}
.login_form{
	
	background-image: url("../public/img/rectangel_logo.png") ;
	min-width: 28%;
	background-repeat: round;
	height: auto;
	width: auto;
  
}
.flex-row{
	margin-top: 3vh;
	padding-left: 10%;
}
.lf--submit{
	margin-bottom: 2vh;
	margin-top: 2vh;
	
	background-color: #f5d60d;
	border-radius: 12px;
	padding: 3% 15% 3% 15%;
	
}
.row_logo{
	color:  #f5c209;
	padding-left: 5vh;
}
.lf--input{
	border-radius: 8px;
  height: 3vh;
  width: 77%;
  background-color: #8cabda;
  
}
.a_logo{
	color: #f5c209;
	font-size: 11px;
  padding-left: 7vh;
  padding-right: 2vh;
  
}
.logo_foter{
	margin-top: 6vh;
	margin-bottom: 3vh;
}
/* ************************************************************ */
.dws-menu *{
	margin: 0;
	padding: 0;
	display: contents;
   }
.dws-menu ul,
.dws-menu ol{
	list-style: none;
}
.dws-menu > ul{
	
	justify-content: center;
}
.dws-menu > ul li{
	position: relative;
	border-right: 1px solid #c7c8ca;
}
.dws-menu > ul li:first-child{
	border-left: 1px solid #b2b3b5;
}
.dws-menu > ul li:last-child{
	border-right: 1px solid #babbbd;
}
.dws-menu > ul li > a i.fa{
	position: absolute;
	top: 15px;
	left: 12px;
	font-size: 18px;
}
.dws-menu > ul li a{
	display: block;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9c9c9+0,f6f6f6+2,c4c5c7+98,757577+100;Custom+3 */
	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#757577',GradientType=0 ); /* IE6-9 */
   
	padding: 5px 36px 5px 40px;
	font-size: 14px;
	color: #454547;
	text-decoration: none;
	text-transform:uppercase;
	transition: all 0.3s ease;
}
.dws-menu li a:hover{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0e1e5+0,454547+2,454547+98,e0e1e5+100 */
	background: rgb(224,225,229); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(224,225,229,1) 0%, rgba(69,69,71,1) 2%, rgba(69,69,71,1) 98%, rgba(224,225,229,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(224,225,229,1) 0%,rgba(69,69,71,1) 2%,rgba(69,69,71,1) 98%,rgba(224,225,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(224,225,229,1) 0%,rgba(69,69,71,1) 2%,rgba(69,69,71,1) 98%,rgba(224,225,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e1e5', endColorstr='#e0e1e5',GradientType=0 ); /* IE6-9 */
   
	color: #ffffff;
	box-shadow: 1px 5px 10px -5px black;
	transition: all 0.3s ease;
}
.left_menu{
	position: absolute;
	
}
.left_nav{
	width: 17%;
	padding-left: 0%;
}

   /*sub menu*/
   .dws-menu li ul{
	
	position: relative;
	min-width: 150px;
	display: none;
   }
   .dws-menu li > ul li{
	border: 1px solid #c7c8ca;
   }
   .dws-menu li > ul li a{
	padding: 1px;
	text-transform: none;
	background: #e4e4e5;
   }
   .dws-menu li > ul li ul{
	position: absolute;
	width: 75%;
	right: -50px;
	top: 0;
	z-index: 1;
   }
   .dws-menu li:hover > ul{
	display: block;
   }
   .detail{
	background: azure;
	display: grid;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: solid;
  border-radius: 8px;
  margin: 2% 25% 0% 25%;
   }
   .detail h1{
	margin: 0%;

   }
   .detail p{
	padding-left: 1vh;
	margin: 0%;

   }
   .detail img{
	
    max-height: 95%;

   }
   .profil{
	color: #f5c209;
	padding-right: 6%;
	padding-left: 3%;
  }
  .profil p{
	color: #eeeecd;
	margin-left: auto;
  }
  .lf--submitReg{
	margin-bottom: 10vh;
	margin-top: 2vh;
	font-size: 8px;
	background-color: #f5d60d;
	border-radius: 12px;
	padding: 3% 15% 3% 15%;

  }
.prof_user{
	margin-left: auto;
}
.widh_35{
	padding-bottom: 2vh;
	max-width: 35%;
}
.nav_emai{
	margin-bottom:1vh;
    margin-top: 2vh;
    text-decoration: none;
	float: right;
    padding-right: 6%;
    color: #dfc741;

}
.serch_res{
	display: grid;
	margin-left: 3vh;
	background: #f0e5a933;
}
.serch_res a{
	color: #dfc741;
	margin: 1vh;
	border: #454547;
}
.serch_res a:hover {
	background-color: #e6e6e68f;
}
.baket_naw{
	display: flex;
	position: fixed;
	width: 90%;
	
}
.baket{
	
	justify-content: space-between;
	border-radius: 9px;
	margin-left: 2vh;
	display: flex;
	padding-left: 2vh;
	padding-right: 12vh;
	width: 100%;
	background: #e6e6e68f;
	
} 
.baket img{

	padding-top: 1vh;
}
.baket p{
	
	padding: 2vh 4vh 0vh 6vh;
    margin: 0;
}
.baket_button{
    padding: 3% 15% 3% 15%;
	cursor: pointer;


}
.counter__plus {
	
	cursor: pointer;
	max-height: 6vh;
}
.counter__minus {
	margin-left: 5vh;
	
	cursor: pointer;
	max-height: 6vh;

}
.counter__p {
	padding: 1vh 3vh 0vh 2vh;
		text-align: center;
		-webkit-transition: 0.2s;
		-o-transition: 0.2s;
		transition: 0.2s;
		max-height: 5vh;
		max-width: 110px;
		color: #000;
	}

.counter__selector {
    display: inline-block;
    position: relative;
}


.contener_detal{
	display: contents;
}
.sum_p{
	position: absolute;
}
@media(max-width: 992px){
	/*Стили, на устройствах с максимальной ширеной экрана 992 пикселя и меньше */
	}
@media(max-width: 768px){
	/*Стили, на устройствах с максимальной ширеной экрана 768 пикселей и меньше */ 
	}
	
@media(max-width: 500px){
	.exit {
		position:absolute ;
		margin: 0;
	}
	.baket {
		justify-content: space-between;
		border-radius: 9px;
		/* margin-left: 2vh; */
		display: block;
		margin-left: 8vh;
		padding-left: 2vh;
		padding-right: 12vh;
		width: 50%;
		background: #e6e6e68f;}
	.reg {
			float: right;
			padding-right: 1%;
			
			background-color: #232e49;
		}
}
.padding_2vh{
padding-top: 14vh;
}